@import "compass";
@import "blueprint";
@import "blueprint/fancy_type";

$blueprint-font-family:      Helvetica Neue, Arial, Helvetica, sans-serif;
$blueprint-fixed-font-family:'andale mono', 'lucida console', monospace;
$blueprint-font-size:        12px;

@include global-reset;
@include blueprint-typography;

ul {
  @include horizontal-list;
  padding: 0 0 0 25px;
  &#header-threads a {     @include replace-text("header-threads-text.jpg"); }
  &#header-timeline a { @include replace-text("header-timeline-text.jpg"); }
}

#thread {
    @include transition-property(left);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);

    @for $i from 0 through 30 {
    &.position#{$i} {
      left: ($i * -910px);
    }
  }
}
