body {
  text-align: center;
  > #container {
    text-align:left;
    margin:0 auto;
    width:500px;
  }
}

/*
Sample mixin which creates a button and the following states (based on classes):
- primary
- disabled
(based on pseudo-selector)
- :hover {}
*/

@mixin buttons($basicBorder:1px, $gradient1:#fff, $gradient2:#d8dee7){
  button{
    border:$basicBorder solid #acbed3;
    //Background-image mixin:  http://compass-style.org/reference/compass/css3/images/
    @include background-image(linear-gradient($gradient1, $gradient2));
  }
}
