/* Applies to the entire body of the HTML document */
body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;     /* Setting font family */
  color: purple;          /* Sets the {text} colour, to: purple */
  background-color: #d8da3d; }


/* Applying css to navbar */
nav,


        ul.navbar
        { /* Start of selector */
  list-style-type: none;
  position: absolute; top: 2em;  /* This is another comment */
  background-image: url   (    tiger.jpg   );
  width: 9em; }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;

}
/*
ul.navbar li
{
  background: white;
  margin: 0.5em 0; padding: 0.3em;
  border-right: 1em solid black;


}
*/
ul.navbar a {
  text-decoration: none; }
a:link {
  color: blue; }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; }
