.button, /* test 1 */
.nav, /* test 2 */
.navigation { /* test 4 */
    color: black;
} /*
    This comment ends
    the selector
*/

/*
.center {
  text-align: center;
  color: red;
}
*/

body {
    background-color: #2f4f4f;
    color: azure;
    font-size: 1.1em; /* Setting font size to 1.1em */
}

h1 {
    color: coral;
}

#intro,
h2 {
    font-size: 1.3em;
}

.colorful {
    color: orange;
}
